<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>echo</servlet-name>
        <servlet-class>ru.job4j.servlet.Echo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>ru.job4j.http.servlet.UserServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>users</servlet-name>
        <servlet-class>ru.job4j.http.servlet.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create</servlet-name>
        <servlet-class>ru.job4j.http.servlet.UserCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>ru.job4j.http.servlet.UserUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>echo</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
</web-app>